@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: #12141d;
    font-family: inter;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav img {
    width: 40px;
    height: 42px;
}
.top {
    width: 180px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav h2 {
    color: white;
}
.buttons {
    /* background-color: red; */
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 240px;
    height: 80px;
}
#In {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 100%, 0.05);
    text-decoration: none;
    transition: 0.3s;
}
#In:hover {
    background-color: rgb(61, 61, 61);
    transition: 0.3s;
}
#Up {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100px;
    border-radius: 6px;
    background-color: darkblue;
    text-decoration: none;
    transition: 0.3s;
}
#Up:hover {
    background-color: #3c4cff;
    transition: 0.3s;
}
.middle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.middle h2 {
    color: rgb(80, 80, 80);
}
.explore {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}
.explore a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 220px;
    border-radius: 6px;
    background-color: darkblue;
    text-decoration: none;
    transition: 0.3s;
    /* padding: 0.7em 1.5em; */
    border: none;
    color: #fff;
    /* background: linear-gradient(to left, #ff715b 50%, #ff4c3c 50%); */
    background-size: 200% 100%;
    background-position: right bottom;
}
.explore a:hover {
    background-position: left bottom;
  }
.explore a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.product2 a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 220px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 100%, 0.05);
    text-decoration: none;
    transition: 0.3s;
    /* padding: 0.7em 1.5em; */
    border: none;
    color: #fff;
    background: linear-gradient(to left, hsla(0, 0%, 100%, 0.05) 50%, hsla(0, 0%, 40%, 0.05) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 50px;
    background-color: darkblue;
  }
  .container img {
    width: 700px;
    height: 500px;
    object-fit: contain;
    display: flex;
  }
  .mySlides {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
  }
  .active,
  .demo:hover {
    opacity: 1;
  }
  /* Memberships */
  
.membership {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-direction: row;
  margin-top: 100px;
  /* top: 100px; */
  
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.05);
  width: 310px;
  height: 490px;
  border-radius: 6px;
  padding: 7px;
  margin: 15px;
}
.desc h3 {
  color: rgb(1, 175, 102);
}
.desc span {
  font-size: 16px;
  color: white;
}
.desc h1 {
  font-size: 46px;
  color: white;
}
.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(88, 88, 88);
  height: 55px;
  border-radius: 6px;
}
.btn {
  margin-top: 10px;
  width: 250px;
  transition: 0.3s;
}
.btn:hover {
  background-color: rgb(87, 87, 87);
  transition: 0.3s;
  transform: scale(1.1);
  border-radius: 6px;
}
/*  */
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.head p {
  background-color: darkblue;
  display: flex;
  width: 110px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-size: 13px;
}
.desc {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.desc h3 {
  color: darkblue;
}
.desc span {
  font-size: 16px;
  color: white;
}
.desc h1 {
  font-size: 46px;
  color: white;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 2px;
}
.price p {
  position: relative;
  top: 10px;
  color:rgb(122, 122, 122) ;
}
.info {
  color:rgb(122, 122, 122) ;
  padding: 10px 5px;
  position: relative;
  bottom: 9px;
}
.btn {
  margin-top: 5px;
  background-color: darkblue;
  border-radius: 6px;
  width: 250px;
}
.btn:hover {
  background-color: rgb(0, 0, 101);
  transition: 0.3s;
  transform: scale(1.1);
  border-radius: 6px;
}
#coupon {
  position: relative;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(122, 122, 122);
  font-size: 9px;
}
#coupon p {
  position: relative;
  bottom: 10px;
}
.head2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.head2 p {
  background-color: hsla(0, 0%, 100%, 0.05);
  display: flex;
  width: 110px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-size: 13px;
}
.desc2 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.desc2 h3 {
  color: #ffffff;
}
.desc2 span {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.desc2 h1 {
  font-size: 46px;
  color: white;
}
.price2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 2px;
}
.price2 p {
  position: relative;
  top: 10px;
  color:rgb(122, 122, 122) ;
}
.info2 {
  color:rgb(122, 122, 122) ;
}
.btn2 {
  margin-top: 5px;
  border-radius: 6px;
  width: 250px;
  background-color: black;
}
.btn2:hover {
  background-color: rgb(87, 87, 87);
  transition: 0.3s;
  transform: scale(1.1);
  border-radius: 6px;
}